<!DOCTYPE html>
<head>
    {{>header}}
</head>
<body>
    {{>navbar}}
    <h2> How do you want to Continue?</h2>
    <h3> You can choose option to create password or to view saved passwords</h3>
    <div class="container">
        <button id="createpass" class="success" onclick="location.href = '/createentry';">Create Password</button>
        <button id="createpass" class="success" onclick="location.href = '/pass-saved';">Manage Password</button>
  </div>
</div>
{{>footer}}
</body>
