<!DOCTYPE html>
<head>
    {{>header}}
    <script>
        window.onload = function() {
    location.href = "https://github.com/adarsha2003/Passnotes";
}
</script>
</head>
<body>
    <h1 class="home" style="color: green;padding: 200px;">Redirecting... Hang ON...</h1>
</body>
</html>
