<!DOCTYPE html>
<head>
    {{>header}}
</head>
<body>
    {{>navbar}}

    <h1 class="home">Welcome to PassNotes</h1>
    <h2>How to Use?</h2>
    <ul>
        <li><h3>Go to <a href="/getstarted">Get Started </a>for further steps</h3></li>
    </ul>
{{>footer}}
</body>
</html>
