<!DOCTYPE html>
<head>
    {{>header}}
</head>
<body>
    {{>navbar}}
    <h2>SignUP Success! Thanks for joining PassNotes</h2>
    <ul>
        <li><h3>Go to <a href="/signin">Signin page </a>to get started!</h3></li>
    </ul>
{{>footer}}
</body>
</html>
