<!DOCTYPE html>
<head>
    {{>header}}
    <script>
        window.onload = function() {
            setTimeout('', 5000);
    location.href = "/";
}
</script>
</head>
<body>
    <h1 class="home" style="color: green;padding: 200px;">Logged Out!   Redirecting.. to home page Hang ON...</h1>
</body>
</html>
