<!DOCTYPE html>
<head>
    {{>header}}
</head>
<body>
    {{>navbar}}
    <h2>SignUP Failed!</h2>
    <ul>
        <li><h3>Go to <a href="/signup">Signup page </a>and try again!</h3></li>
    </ul>
{{>footer}}
</body>
</html>
